<div class="container">

  <div class="row">
    <h1 class="hero">Shows!</h1>
    <div class="form-group col-md-10">
      <input type="text" class="form-control" ng-model="showSearch" placeholder="Search For Shows...">
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary cbtn" ui-sref="showsNew">New Show</button>
    </div>
  </div>

  <div class="row ">
    <table class="table table-striped table-hover">
      <thead>
        <th>#</th>
        <th>Tour</th>
        <th>Date</th>
      </thead>
      <tbody>
        <tr ng-repeat="show in shows | filter: showSearch" ui-sref="showsShow({id: show._id})">
          <td>{{ $index }}</td>
          <td>{{ show.tourName }}</td>
          <td>{{ show.date | date: 'longDate'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
