<div class="container">

  <h1 class="hero">{{ heading }}</h1>

  <div class="row">
    <h3 class="sectionHeader">Ticket Information</h3>

    <div class="form-group col-md-6">
      <label>Event Date</label>
      <input type="date" class="form-control" ng-model="ticket.date">
    </div>

    <div class="form-group col-md-6">
      <label>Price</label>
      <input type="text" class="form-control" placeholder="$35" ng-model="ticket.price">
    </div>

    <div class="form-group col-md-4">
      <label>Seat Section</label>
      <input type="text" class="form-control" placeholder="404" ng-model="ticket.section">
    </div>

    <div class="form-group col-md-4">
      <label>Seat Row</label>
      <input type="text" class="form-control" placeholder="B" ng-model="ticket.row">
    </div>

    <div class="form-group col-md-4">
      <label>Seat Number</label>
      <input type="text" class="form-control" placeholder="4" ng-model="ticket.seat">
    </div>

    <button ng-click="addTicket()" ng-show="submitButton" class="btn cbtn btn-primary btn-lg pull-right ">Submit</button>
    <button ng-click="updateTicket()" ng-show="!submitButton" class="btn cbtn btn-success btn-lg pull-right ">Save</button>
  </div>

</div><!-- Container End -->
