  <div class="container">

    <h1 class="hero">{{ heading }}</h1>

    <div class="row">
      <h3 class="sectionHeader">Personal Information</h3>

      <div class="form-group col-md-6">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstName">
      </div>

      <div class="form-group col-md-6">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName">
      </div>

      <div class="form-group col-md-4">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="first.lastName@gmail.com" ng-model="user.email">
      </div>

      <div class="form-group col-md-4">
        <label>Phone</label>
        <input type="text" class="form-control" placeholder="(555)-555-5555" ng-model="user.phone">
      </div>

      <div class="form-group col-md-4">
        <label>Date Of Birth</label>
        <input type="date" class="form-control" ng-model="user.dob">
      </div>
    </div>

    <div class="row">
      <h3 class="sectionHeader">Billing Address</h3>

      <div class="form-group col-md-12">
        <label>Street Address</label>
        <input type="text" class="form-control" placeholder="100 Main Street" ng-model="user.address1">
      </div>

      <div class="form-group col-md-12">
        <label>Address (optional)</label>
        <input type="text" class="form-control" placeholder="Apt #" ng-model="user.address2">
      </div>

      <div class="form-group col-md-4">
        <label>City</label>
        <input type="text" class="form-control" placeholder="Los Angeles" ng-model="user.city">
      </div>

      <div class="form-group col-md-4">
        <label>State</label>
        <input type="text" class="form-control" placeholder="CA" ng-model="user.state">
      </div>

      <div class="form-group col-md-4">
        <label>Zip</label>
        <input type="text" class="form-control" placeholder="12345" ng-model="user.zip">
      </div>
    </div>

    <div class="row">
      <h3 class="sectionHeader">Billing Information</h3>

      <div class="form-group col-md-12">
        <label>Credit Card Number</label>
        <input type="text" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx" ng-model="user.cardNumber">
      </div>

      <div class="form-group col-md-6">
        <label>Card Type</label>
        <input type="text" class="form-control" placeholder="Visa, Master Card, Discover, etc." ng-model="user.cardType">
      </div>

      <div class="form-group col-md-6">
        <label>Security Code</label>
        <input type="text" class="form-control" placeholder="XXX" ng-model="user.security">
      </div>

      <button ng-click="addUser()" class="btn btn-primary btn-lg pull-right cbtn" ng-show="submitButton">Submit</button>
      <button ng-click="updateUser()" class="btn btn-success btn-lg pull-right cbtn" ng-show="!submitButton">Save</button>
    </div>

  </div><!-- Container End -->
